footer{
    .footer__bottom{
        padding-top: 80px;

        .footer__bottom_line{
            border-bottom: 1px solid #565656;
        }

        .footer__bottom_flex{
            display: flex;
            justify-content: space-between;

            padding: 30px 0;

            p{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 12px;
                line-height: 150%;

                color: #989898;
            }

            p:last-child{
                flex-basis: 30%;
                text-align: right;
                margin-left: 50px;
            }
        }
    }
}

@media  (max-width: 768px){
    footer{
        .footer__bottom{padding-top: 60px;}
    }
}

@media  (max-width: 576px){
    footer{
        .footer__bottom{padding-top: 60px;}
    }
}