header{
    position: fixed;
    z-index: 80;

    width: 100%;

    padding: 50px 0;
    transition: 0.2s;

    .header__flex{
        display: flex;
        justify-content: space-between;

        menu{
            flex-grow: 1;
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;

            ul{
                max-width: 885px;
                display: flex;
                justify-content: space-between;

                li{flex-grow:1;}

                a{padding-bottom: 3px;}
            }
        }

        .number{
            font-size: 16px;
            line-height: 22px;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }
    }
}

.scrolled{
    background-color: #333333;
    opacity: 0.95;
    //border-bottom: #C4C4C4 2px solid;
    transition: 0.2s;

    padding: 25px 0;
    box-shadow: 1px 5px 6px rgba(0, 0, 0, .2);

    .burger-menu{
        .menu-btn{top: 25px;}
    }
}

._underline-anim{
    background-image: linear-gradient(#D1A954, #D1A954);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}
._underline-anim:hover{
    background-size: 100% 2px;
    padding-bottom: 3px;
}
._underline-anim:active{
    transition: 0.1s;
    color: #D1A954;
}

@media  (max-width: 992px){
    header{
        .header__flex{
            flex-direction: column;
            text-align: center;
    
            menu{
                ul{
                    text-align: right;
                    max-width: 1000px;
    
                    li{flex-grow:1;}
                }
            }
    
            .number{padding-top: 50px;}
        }
    } 
}

@media  (max-width: 768px){
    header{
        .header__flex{
            text-align: right;
            menu{display: none;}

            .number{padding-top: 0;}
        }
    }
}