@import url(null.css);
@import url(header.css);
@import url(footer.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed"), url("../source/fonts/OpenSans_Condensed-Bold.woff") format("woff");
}
body {
  overflow-x: hidden;
  font-family: "Open Sans Condensed", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  background-color: #333333;
}

._content {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  height: 100vh;
  background-image: url("../source/img/main_back.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main__flex {
  display: flex;
  padding-top: 267px;
}
.main .main__flex .main__info {
  max-width: 600px;
}
.main .main__flex .main__info h1 {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main .main__flex .main__info .main__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 46px;
}
.main .main__flex .main__info button {
  background-color: #D1A954;
  width: 160px;
  height: 50px;
  transition: 0.3s;
  border: solid #D1A954 2px;
}
.main .main__flex .main__info button span {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .main__flex .main__info button:hover {
  transition: 0.3s;
  border-radius: 50px;
}
.main .main__flex .main__info button:active {
  transition: 0.1s;
  border: solid #D1A954 2px;
  background-color: #333333;
}

.side-bar {
  position: fixed;
  display: inline-block;
  width: 150px;
  height: 100vh;
  background: rgba(51, 51, 51, 0.75);
  text-align: center;
}
.side-bar .side-bar__flex {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  align-items: center;
  padding-bottom: 86px;
}
.side-bar .side-bar__flex .side-bar__text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  transform: rotate(-180deg);
}
.side-bar .side-bar__flex .side-bar__text h2 {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.side-bar .side-bar__flex .side-bar__line {
  display: inline-block;
  height: 80px;
  border-left: 3px solid #C4C4C4;
  margin-top: 40px;
  padding-bottom: 10px;
}
.side-bar .side-bar__flex .side-bar__social {
  display: flex;
  flex-direction: column;
}
.side-bar .side-bar__flex .side-bar__social li {
  margin-top: 30px;
}

.about span {
  color: #D1A954;
}
.about h1 {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 48px;
}
.about h3 {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about .about__flex {
  display: flex;
  justify-content: space-between;
}
.about .about__flex .about__info {
  flex-basis: 445px;
  padding-right: 10px;
}
.about .about__flex .about__info p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.about .about__flex .about__icons {
  padding-right: 10px;
}
.about .about__flex .about__icons img {
  margin-bottom: 15px;
}
.about .about__flex .about__icons p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.about .about__flex .about__icons .about__icons-armchair-text1 {
  margin-bottom: 28px;
}
.about .about__flex .about__icons .icons__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about .about__flex .about__img {
  flex-grow: 395px;
}
.about .about__flex .about__img img {
  height: 100%;
}

.partners {
  padding-top: 150px;
}
.partners h1 {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.partners h1 span {
  color: #D1A954;
}
.partners .partners__grid {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 7px;
  overflow: hidden;
  width: 70%;
}
.partners .partners__grid img {
  padding-top: 130px;
  padding-right: 30px;
}

@media (max-width: 1500px) {
  ._content {
    margin-left: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .header__flex {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main .main__flex {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1260px) {
  .about .about__flex {
    justify-content: space-around;
  }
  .about .about__flex .about__icons {
    padding-right: 0;
  }
  .about .about__flex .about__img {
    display: none;
  }
}
@media (max-width: 992px) {
  .main .main__flex .main__info {
    max-width: 800px;
  }
  .about h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .partners h1 {
    font-size: 48px;
    line-height: 65px;
  }
}
@media (max-width: 768px) {
  ._content {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  header .header__flex {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .main__flex {
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .main__flex .main__info h1 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .side-bar {
    display: none;
  }
  .partners .partners__grid {
    width: 93.4%;
  }
}
@media (max-width: 576px) {
  .about {
    text-align: center;
  }
  .about .about__flex {
    justify-content: space-around;
    flex-direction: column;
  }
  .about .about__flex .about__info {
    flex-basis: 0%;
    margin-bottom: 30px;
    padding-right: 0;
  }
  .about .about__flex .about__icons {
    padding-right: 0;
  }
  .about .about__flex .about__icons .icons__flex {
    flex-direction: row;
    text-align: left;
  }
  .about .about__flex .about__img {
    display: none;
  }
}/*# sourceMappingURL=index.css.map */