@import url(null.css);
@import url(header.css);
@import url(footer.css);
@import url(preloader.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// font-family: 'Open Sans', sans-serif;

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed'), url("../source/fonts/OpenSans_Condensed-Bold.woff") format('woff');
}

html{
    scroll-behavior: smooth;
}

body{
    overflow-x: hidden;

    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    background-color: rgb(51, 51, 51);
}

.wrapper{overflow-x: hidden;}

._content{
    max-width: 1171px;
    margin: 0 auto;
    padding: 0 30px;
}

//=======BURGER==========

.burger-menu{
    z-index: 1000;
}

.menu-btn{
    display: none;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 120;

    transition: 0.2s;
  }
   
  .menu-btn > span,
  .menu-btn > span::before,
  .menu-btn > span::after {
    display: block;
    position: absolute;
    width: 75%;
    height: 3px;
    background-color: #FFFFFF;
    transition-duration: .25s;
  }

  .menu-btn > span::before {
    content: '';
    top: -8px;
    width: 135%;
  }
  .menu-btn > span::after {
    content: '';
    top: 8px;
    width: 65%
  }
   
  .menubox{
    z-index: 90;

    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 100px 0;
    list-style: none;
    background-color: #333333;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
  }
   
  .menu-item {
    display: block;
    padding: 17px 24px;

    color: #FFFFFF;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    transition-duration: .25s;
  }
  .menu-item:hover {
    background-color: #616161;
  }
   
   
  #menu-toggle {
    position: fixed;
    top: 50px;
    left: 50px;

    opacity: 0;
  }
   
  #menu-toggle:checked ~ .menu-btn > span{
    width: 100%; 
    transform: translate(200px) rotate(45deg);
  }
  #menu-toggle:checked ~ .menu-btn > span::before{
    top: 0;
    transform: rotate(0);
    width: 100%;
  }
  #menu-toggle:checked ~ .menu-btn > span::after{
    top: 0;
    transform: rotate(90deg);
    width: 100%;
  }
  #menu-toggle:checked ~ .menubox{
    visibility: visible;
    left: 0;
  }

  #menu-toggle:checked{
    body{
        overflow-y: hidden;
    }
  }

  .menubox{
    .menubox__social{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        //justify-items: center;
        align-items: center;

        padding-top: 50px;
        margin: 0 auto;

        width: 200px;

        a{
            img{
                //width: 50%;
                height: 50%;
                padding-bottom: 50px;
            }
        }
    }
  }

//=======================

.main{
    height: 100vh;

    overflow: hidden;
    
    background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url('../source/img/main_back.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .main__flex{
        display: flex;

        padding-top: 267px;
        padding-right: 100px;

        .main__info{
            padding-top: 70px;
            max-width: 600px;
            flex-basis: 70%;

            margin-right: 7%;
            

            h1{
                font-size: 48px;
                line-height: 65px;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                margin-bottom: 50px;
            }

            .main__text{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;

                margin-bottom: 46px;
            }

            button{
                background-color: #D1A954;
                width: 160px;
                height: 50px;

                transition: 0.3s;
                border: solid #D1A954 2px;

                span{
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }

            button:hover{
                transition: 0.3s;
                border-radius: 50px;
            }

            button:active{
                transition: 0.1s;
                border: solid #D1A954 2px;
                background-color: #333333;
            }
        }

        .main__slider{
            flex-basis: 30%;
            min-width: 0;
            min-height: 0;

            position: relative;

            .main__swiper{
                overflow: hidden;
                position: relative;
                z-index: 10;
    
                .swiper-wrapper{
                    .swiper-slide{
                        width: 350px;
                        height: 490px;
    
                        background-position: 50% 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
    
                    .main__swiper_slide-1{background-image: url('../source/img/main-slide1.jpg');}
                    .main__swiper_slide-2{background-image: url('../source/img/main-slide2.jpg');}
                    .main__swiper_slide-3{background-image: url('../source/img/main-slide3.jpg');}
                }

                .swiper__navigation{
                    display: flex;
                    justify-content: space-between;

                    padding-top: 56px;

                    -moz-user-select: none;
                    -khtml-user-select: none;
                    user-select: none;    

                    .navigator__button{
                        display: flex;
                        align-items: center;

                        h2{
                            font-size: 16px;
                            line-height: 22px;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            color: #C4C4C4;
                        }
    
                        .arrow{
                            padding: 0 10px;

                            svg{
                                path{
                                    fill: #C4C4C4;
                                }
                            }
                        }
                    }

                    .navigator__button:hover{
                        h2{color: #D1A954;}
                        .arrow{
                            svg{
                                path{fill: #D1A954;}
                            }
                        }
                    }

                    .navigator__button:active{
                        h2{color: #FFFFFF;}
                        .arrow{
                            svg{
                                path{fill: #FFFFFF;}
                            }
                        }
                    }
                }
            }

            .main__swiper_psevdo{
                overflow: hidden;
                position: relative;
                left: 20px;
                top: -545px;

                .swiper-wrapper{
                    .swiper-slide{
                        width: 350px;
                        height: 490px;
    
                        background-position: 50% 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }

                    .main__swiper_slide-1{background-image: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url('../source/img/main-slide2.jpg');}
                    .main__swiper_slide-2{background-image: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url('../source/img/main-slide3.jpg');}
                    .main__swiper_slide-3{background-image: linear-gradient(0deg, rgba(209, 169, 84, 0.85), rgba(209, 169, 84, 0.85)), url('../source/img/main-slide1.jpg');}
                }
            }
        }
    }
}

.side-bar{
    position: fixed;
    display: inline-block;
    z-index: 5;
    
    width: 150px;
    height: 100vh;
    background: rgba(51, 51, 51, 0.75);

    text-align: center;

    .side-bar__flex{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        align-items: center;

        padding-bottom: 86px;

        .side-bar__text{
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #C4C4C4;

            h2{writing-mode: vertical-rl;}
            transform: rotate(-180deg);

            transition: 0.2s;
        }

        .side-bar__text:hover{
            transition: 0.2s;
            color:#D1A954
        }

        .side-bar__line{
            display: inline-block;
            height: 80px;
            border-left: 3px solid #C4C4C4;

            margin-top: 40px;
            padding-bottom: 10px;
        }

        .side-bar__social{
            display: flex;
            flex-direction: column;

            li{
                margin-top: 30px;
                svg{
                    path{
                        fill: rgba(255, 255, 255, 0.6);
                        transition: 0.1s;
                    }
                }

                svg:hover{
                    path{
                        fill: #D1A954;
                        transition: 0.1s;
                    }
                }

                svg:active{
                    path{
                        fill: #FFFFFF;
                        transition: 0.1s;
                    }
                }
            }
        }
    }
}

.about{
    span{color: #D1A954;}

    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        padding-top: 150px;
        margin-bottom: 48px;
    }

    h3{
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        margin-bottom: 40px;
    }

    .about__flex{
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;

        .about__info{
            flex-basis: 445px;
            padding-right: 10px;

            p{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }
        }

        .about__icons{
            padding-right: 10px;

            img{
                margin-bottom: 15px;
            }

            p{
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.05em;
            }

            .about__icons-armchair-text1{margin-bottom: 28px;}

            .icons__flex{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        .about__img{
            flex-grow: 395px;

            img{height: 100%;}
        }
    }
}

.productions{
    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        padding-top: 150px;
        margin-bottom: 78px;

        span{color: #D1A954;}
    }

    .productions__swiper{
        margin-left: 165px;
        overflow: hidden;

        .swiper-wrapper{
            .swiper-slide{
                background-position: 50% 50%;
                background-repeat: no-repeat;
                background-size: cover;

                height: 550px;

                transition: 0.2s;

                .swiper-slide_text{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    height: 100%;
                    padding: 40px;

                    transition: 0.2s;

                    h2{
                        font-size: 24px;
                        line-height: 33px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                    }

                    h3{
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;

                        writing-mode: vertical-rl;
                        transform: rotate(-180deg);
                    }
                }

                .swiper-slide_zoom{
                    position: absolute;
                    left: 40%;
                    top: 45%;

                    opacity: 0;
                    transition: 0.2s;
                    filter: brightness(0.7);

                    img{width: 100%;}
                }

                .swiper-slide_zoom:hover{cursor: pointer;}
            }

            .swiper-slide:hover{
                transition: 0.2s;

                filter: brightness(1.5);
                .swiper-slide_text{opacity: 0;}
                .swiper-slide_zoom{opacity: 1;}
            }

            .slide-1{background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_1.jpg);}
            .slide-2{background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_2.jpg);}
            .slide-3{background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_3.jpg);}
            .slide-4{background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_4.jpg);}
        }
    }
}

.grade{
    .grade__img{
        //width: 1111px;
        width: 100%;
        height: 611px;

        background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url('../source/img/grade_back.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 110%;

        margin-top: 90px;

        padding: 10px;

        .grade__flex{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            .grade__years{
                font-size: 72px;
                line-height: 98px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #D1A954;

                margin-right: 100px;
            }

            .grade__info{
                padding-right: 15px;

                .grade__stars{
                    padding-bottom: 25px;

                    img{padding-right: 25px;}
                }

                p{
                        font-family: 'Open Sans';
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 150%;
                }
            }
        }
    }
}

.partners{
    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        span{color: #D1A954;}

        padding-top: 150px;
    }

    .partners__sliders{
        .partners__swiper_top, .partners__swiper_bottom{
            padding-top: 150px;

            .swiper-wrapper{
                align-items: center;
                .swiper-slide{
                    img{
                        padding: 0 15px;
                        width: 100%;
                    }
                }
            }
        }
    }
}

.maecenas{
    h1{
        padding-top: 125px;

        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        span{color: #D1A954;}
    }

    .maecenas__flex{
        display: flex;
        justify-content: space-between;
        flex-basis: 35%;

        padding-top: 78px;

        .maecenas__contacts{
            .maecenas__contacts_flex{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                p{
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }

                a{transition: 0.2s;}

                a:hover{
                    transition: 0.2s;
                    color:#D1A954
                }
    
                .maecenas__phones p{
                        margin-bottom: 25px;
                }
    
                .maecenas__adress{
                    .maecenas__contacts_site{
                        margin-bottom: 25px;
                        text-decoration: underline;
                    }
                }
            }
        }

        .maecenas__add{
            flex-basis: 65%;

            .maecenas__forms{
                display: flex;
                justify-content: space-between;

                input{
                    background: #444444;
                    border: 1px solid #616161;
                    padding-left: 15px;
                    
                    color: #989898;
                }

                input::placeholder{
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 150%;

                    color: #989898;
                }

                .forms__small-form_flex{
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;

                    //flex-basis: 55%;
                    
                    .forms__small-form_flex-row-left, .forms__small-form_flex-row-right{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        flex-grow: 1;
                    }

                    .forms__small-form_flex-row-right{margin-left: 30px;}

                    input{
                        width: 100%;
                        height: 35px;
                    }
                }

                .forms__big-form{
                    flex-basis: 45%;
                    margin-left: 30px;

                    input{
                        width: 100%;
                        height: 100px;
                    }
                }
            }

            .maecenas__underforms{
                display: flex;
                justify-content: space-between;

                padding-top: 40px;

                p{
                    max-width: 390px;

                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;

                    color: #989898;
                }

                button{
                    background-color: #D1A954;
                    width: 160px;
                    height: 50px;
    
                    transition: 0.3s;
                    border: solid #D1A954 2px;

                    margin-left: 30px;
    
                    span{
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
    
                button:hover{
                    transition: 0.3s;
                    border-radius: 50px;
                }
    
                button:active{
                    transition: 0.1s;
                    border: solid #D1A954 2px;
                    background-color: #333333;
                }
            }
        }
    }
}




@media  (max-width: 1500px){
    ._content{
        margin-left: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

    header{
        .header__flex{
            //margin-left: 150px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .main{
        .main__flex{
            //margin-left: 150px;
            padding-left: 10px;
            padding-right: 50px;
        }
    }

    .partners{
        .partners__grid{
            width: 80%;
        }
    }
}

@media  (max-width: 1260px){
    .main{
        .main__flex{
            .main__slider{flex-basis: 50%;}
        }
    }

    .about{
        .about__flex{
            justify-content: space-around;

            .about__icons{
                //flex-basis: 40%;
                padding-right: 0;
            }
            .about__img{display: none;}
        }
    }
}

@media  (max-width: 992px){
    .main{
        .main__flex{
            display: block;
            padding-right: 10px;
            .main__info{
                max-width: 800px;
                margin-right: 0;
            }

            .main__slider{display: none;}
        }
    }

    .about{
            h1{
                font-size: 48px;
                line-height: 65px;
            }
    }

    .productions{
        h1{
            font-size: 48px;
            line-height: 65px;
        }
    }

    .grade{
        ._content{
            margin: 0;
            padding: 0;
        }

        .grade__img{
            margin-top: 150px;

            .grade__flex{
                margin-left: 165px;
            }
        }
    }

    .partners{
        h1{
            font-size: 48px;
            line-height: 65px;
        }
    }

    .maecenas{
        h1{
            font-size: 48px;
            line-height: 65px;
        }

        .maecenas__flex{
            flex-direction: column;
            padding-top: 100px;

            .maecenas__contacts{
                padding-top: 80px;
                order: 2;

                .maecenas__contacts_flex{
                    flex-direction: row;

                    .maecenas__adress{text-align: right;}
                }
            }
        }

        .maecenas__add{
            flex-basis: auto;
            max-width: 1171px;
            //margin: 0 auto;
            //padding: 0 30px 0 15px;

            .maecenas__forms{
                .forms__big-form{
                    input{width: 270px;}
                }
            }
        }
    }
}

@media  (max-width: 768px){
    ._content{
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    .menu-btn{display: flex;}

    header{
        .header__flex{
            //margin-left: 0;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .main{
        .main__flex{
            justify-content: center;

            //margin: 0 auto;
            padding-left: 30px;
            padding-right: 30px;
            padding-top: 150px;

            .main__info{
                h1{
                    font-size: 36px;
                    line-height: 49px;
                    letter-spacing: 0.05em;

                    text-align: center;
                }
            }
        }
    }

    .side-bar{
        display: none;
    }

    .productions{
        .productions__swiper{
            margin-left: 30px;
        }
    }

    .grade{
        .grade__img{
            margin-top: 90px;

            .grade__flex{
                margin-left: 0;

                .grade__years{margin-right: 15px;}

                .grade__info{
                    p{font-size: 29px;}
                }
            }
        }
    }

    .partners{
        .partners__grid{
            width: 93.4%;
            padding: 0;
        }
    }

    .maecenas{
        .maecenas__flex{
            .maecenas__contacts{padding-top: 60px;}
        }
    }

    
    //h1
    .about{
        h1{padding-top: 90px;}
    }
    .productions{
        h1{padding-top: 90px;}
    }
    .grade{padding-top: 90px;}
    .partners{
        h1{padding-top: 90px;}
    }
    .maecenas{
        h1{padding-top: 90px;}
    }
    //
}

@media  (max-width: 576px){
    .about{
        text-align: center;

        .about__flex{
            justify-content: space-around;
            flex-direction: column;

            .about__info{
                flex-basis: 0%;
                margin-bottom: 30px;
                padding-right: 0;
            }

            .about__icons{
                padding-right: 0;

                .icons__flex{
                    flex-direction: row;
                    text-align: left;
                }
            }
            .about__img{display: none;}
        }
    }

    .grade{
        .grade__img{
            margin-top: 80px;
            max-height: 611px;
            height: auto;

            .grade__flex{
                .grade__years{
                    p{
                        font-size: 45px;
                        line-height: 60px;
                    }
                }

                .grade__info{
                    .grade__stars{
                        padding-bottom: 10px;

                        img{
                            width: 13%;
                            padding-right: 10px;
                        }
                    }

                    p{
                        font-size: 18px;
                    }
                }
            }
        }
    }

    .partners{
        .partners__sliders{
            .partners__swiper_top, .partners__swiper_bottom{
                padding-top: 100px;

                .swiper-wrapper{
                    .swiper-slide{
                        img{
                            padding: 0 15px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    .maecenas{
        .maecenas__flex{
            padding-top: 50px;

            .maecenas__contacts{
                padding-top: 50px;

                .maecenas__contacts_flex{
                    .maecenas__phones{
                        p{
                            font-size: 14px;
                        }
                    }
                }

                .maecenas__adress{
                    flex-basis: 50%;
                    p{
                        font-size: 14px;
                    }
                }
            }

            .maecenas__add{
                .maecenas__forms{
                    flex-direction: column;
    
                    .forms__small-form_flex{
                        height: 100px;
                        input{width: 100%;}

                        div{
                            flex-grow: 1
                        }

                        .forms__small-form_flex-row-right{margin-left: 20px;}
                    }
    
                    .forms__big-form{
                        width: 100%;
    
                        margin-left: 0;
                        padding-top: 30px;
    
                        input{
                            width: 100%;
                        }
                    }
                }

                .maecenas__underforms{
                    p{
                        font-size: 10px;
                    }

                    button{
                        width: 120px;
                        height: 40px;

                        span{font-size: 14px;}
                    }
                }
            }
        }
    }

    //h1
    .about{
        h1{padding-top: 80px;
            font-size: 30px;}
    }
    .productions{
        h1{padding-top: 80px;
            font-size: 30px;}
    }
    .grade{padding-top: 80px;}
    .partners{
        h1{padding-top: 80px;
            font-size: 30px;}
    }
    .maecenas{
        h1{
            padding-top: 80px;
            font-size: 30px;
        }
    }
    //
}