@import url(null.css);
@import url(header.css);
@import url(footer.css);
@import url(preloader.css);
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@font-face {
  font-family: "Open Sans Condensed";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Condensed"), url("../source/fonts/OpenSans_Condensed-Bold.woff") format("woff");
}
body {
  overflow-x: hidden;
  font-family: "Open Sans Condensed", sans-serif;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  background-color: rgb(51, 51, 51);
}

._content {
  max-width: 1171px;
  margin: 0 auto;
  padding: 0 30px;
}

.main {
  height: 100vh;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)), url("../source/img/main_back.jpg");
  background-position: 50% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.main .main__flex {
  display: flex;
  padding-top: 267px;
}
.main .main__flex .main__info {
  max-width: 600px;
}
.main .main__flex .main__info h1 {
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.main .main__flex .main__info .main__text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  margin-bottom: 46px;
}
.main .main__flex .main__info button {
  background-color: #D1A954;
  width: 160px;
  height: 50px;
  transition: 0.3s;
  border: solid #D1A954 2px;
}
.main .main__flex .main__info button span {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main .main__flex .main__info button:hover {
  transition: 0.3s;
  border-radius: 50px;
}
.main .main__flex .main__info button:active {
  transition: 0.1s;
  border: solid #D1A954 2px;
  background-color: #333333;
}

.side-bar {
  position: fixed;
  display: inline-block;
  width: 150px;
  height: 100vh;
  background: rgba(51, 51, 51, 0.75);
  text-align: center;
}
.side-bar .side-bar__flex {
  display: flex;
  flex-direction: column;
  justify-content: end;
  height: 100%;
  align-items: center;
  padding-bottom: 86px;
}
.side-bar .side-bar__flex .side-bar__text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C4C4C4;
  transform: rotate(-180deg);
  transition: 0.2s;
}
.side-bar .side-bar__flex .side-bar__text h2 {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.side-bar .side-bar__flex .side-bar__text:hover {
  transition: 0.2s;
  color: #D1A954;
}
.side-bar .side-bar__flex .side-bar__line {
  display: inline-block;
  height: 80px;
  border-left: 3px solid #C4C4C4;
  margin-top: 40px;
  padding-bottom: 10px;
}
.side-bar .side-bar__flex .side-bar__social {
  display: flex;
  flex-direction: column;
}
.side-bar .side-bar__flex .side-bar__social li {
  margin-top: 30px;
}

.about span {
  color: #D1A954;
}
.about h1 {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 48px;
}
.about h3 {
  font-size: 21px;
  line-height: 29px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.about .about__flex {
  display: flex;
  justify-content: space-between;
}
.about .about__flex .about__info {
  flex-basis: 445px;
  padding-right: 10px;
}
.about .about__flex .about__info p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}
.about .about__flex .about__icons {
  padding-right: 10px;
}
.about .about__flex .about__icons img {
  margin-bottom: 15px;
}
.about .about__flex .about__icons p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
}
.about .about__flex .about__icons .about__icons-armchair-text1 {
  margin-bottom: 28px;
}
.about .about__flex .about__icons .icons__flex {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.about .about__flex .about__img {
  flex-grow: 395px;
}
.about .about__flex .about__img img {
  height: 100%;
}

.productions h1 {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
  margin-bottom: 78px;
}
.productions h1 span {
  color: #D1A954;
}
.productions .productions__swiper {
  margin-left: 165px;
}
.productions .productions__swiper .swiper-wrapper .swiper-slide {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 550px;
  transition: 0.2s;
}
.productions .productions__swiper .swiper-wrapper .swiper-slide .swiper-slide_text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 40px;
  transition: 0.2s;
}
.productions .productions__swiper .swiper-wrapper .swiper-slide .swiper-slide_text h2 {
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.productions .productions__swiper .swiper-wrapper .swiper-slide .swiper-slide_text h3 {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(-180deg);
}
.productions .productions__swiper .swiper-wrapper .swiper-slide:hover {
  transition: 0.2s;
  filter: brightness(1.5);
}
.productions .productions__swiper .swiper-wrapper .swiper-slide:hover .swiper-slide_text {
  opacity: 0;
}
.productions .productions__swiper .swiper-wrapper .slide-1 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_1.jpg);
}
.productions .productions__swiper .swiper-wrapper .slide-2 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_2.jpg);
}
.productions .productions__swiper .swiper-wrapper .slide-3 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_3.jpg);
}
.productions .productions__swiper .swiper-wrapper .slide-4 {
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.65), rgba(51, 51, 51, 0.65)), url(../source/img/productions_4.jpg);
}

.grade .grade__img {
  width: 100%;
  height: 611px;
  background-image: linear-gradient(0deg, rgba(51, 51, 51, 0.9), rgba(51, 51, 51, 0.9)), url("../source/img/grade_back.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: 110%;
  margin-top: 90px;
}
.grade .grade__img .grade__flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.grade .grade__img .grade__flex .grade__years {
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #D1A954;
  margin-right: 100px;
}
.grade .grade__img .grade__flex .grade__info {
  padding-right: 15px;
}
.grade .grade__img .grade__flex .grade__info .grade__stars {
  padding-bottom: 25px;
}
.grade .grade__img .grade__flex .grade__info .grade__stars img {
  padding-right: 25px;
}
.grade .grade__img .grade__flex .grade__info p {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 36px;
  line-height: 150%;
}

.partners h1 {
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding-top: 150px;
}
.partners h1 span {
  color: #D1A954;
}
.partners .partners__grid {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 7px;
  overflow: hidden;
  width: 70%;
}
.partners .partners__grid img {
  padding: 130px 15px 0;
}

.maecenas h1 {
  padding-top: 125px;
  font-size: 64px;
  line-height: 87px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
.maecenas h1 span {
  color: #D1A954;
}
.maecenas .maecenas__flex {
  display: flex;
  justify-content: space-between;
  flex-basis: 35%;
  padding-top: 78px;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex p {
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex a {
  transition: 0.2s;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex a:hover {
  transition: 0.2s;
  color: #D1A954;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex .maecenas__phones p {
  margin-bottom: 25px;
}
.maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex .maecenas__adress .maecenas__contacts_site {
  margin-bottom: 25px;
  text-decoration: underline;
}
.maecenas .maecenas__flex .maecenas__add {
  flex-basis: 65%;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms {
  display: flex;
  justify-content: space-between;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms input {
  background: #444444;
  border: 1px solid #616161;
  padding-left: 15px;
  color: #989898;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms input::-moz-placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms input:-ms-input-placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms input::placeholder {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex {
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex .forms__small-form_flex-row-left, .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex .forms__small-form_flex-row-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex .forms__small-form_flex-row-right {
  margin-left: 30px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex input {
  width: 100%;
  height: 35px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__big-form {
  flex-basis: 45%;
  margin-left: 30px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__big-form input {
  width: 100%;
  height: 100px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms p {
  max-width: 390px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #989898;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms button {
  background-color: #D1A954;
  width: 160px;
  height: 50px;
  transition: 0.3s;
  border: solid #D1A954 2px;
  margin-left: 30px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms button span {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms button:hover {
  transition: 0.3s;
  border-radius: 50px;
}
.maecenas .maecenas__flex .maecenas__add .maecenas__underforms button:active {
  transition: 0.1s;
  border: solid #D1A954 2px;
  background-color: #333333;
}

@media (max-width: 1500px) {
  ._content {
    margin-left: 150px;
    padding-left: 10px;
    padding-right: 10px;
  }
  header .header__flex {
    padding-left: 5px;
    padding-right: 5px;
  }
  .main .main__flex {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 1260px) {
  .about .about__flex {
    justify-content: space-around;
  }
  .about .about__flex .about__icons {
    padding-right: 0;
  }
  .about .about__flex .about__img {
    display: none;
  }
}
@media (max-width: 992px) {
  .main .main__flex .main__info {
    max-width: 800px;
  }
  .about h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .productions h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .grade ._content {
    margin: 0;
    padding: 0;
  }
  .grade .grade__img {
    margin-top: 150px;
  }
  .grade .grade__img .grade__flex {
    margin-left: 165px;
  }
  .partners h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .maecenas h1 {
    font-size: 48px;
    line-height: 65px;
  }
  .maecenas .maecenas__flex {
    flex-direction: column;
    padding-top: 100px;
  }
  .maecenas .maecenas__flex .maecenas__contacts {
    padding-top: 80px;
    order: 2;
  }
  .maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex {
    flex-direction: row;
  }
  .maecenas .maecenas__flex .maecenas__contacts .maecenas__contacts_flex .maecenas__adress {
    text-align: right;
  }
  .maecenas .maecenas__add {
    flex-basis: auto;
    max-width: 1171px;
    margin: 0 auto;
    padding: 0 30px 0 15px;
  }
  .maecenas .maecenas__add .maecenas__forms .forms__big-form input {
    width: 270px;
  }
}
@media (max-width: 768px) {
  ._content {
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
  }
  header .header__flex {
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .main__flex {
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
  }
  .main .main__flex .main__info h1 {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: 0.05em;
    text-align: center;
  }
  .side-bar {
    display: none;
  }
  .productions .productions__swiper {
    margin-left: 30px;
  }
  .grade .grade__img {
    margin-top: 90px;
  }
  .grade .grade__img .grade__flex {
    margin-left: 0;
  }
  .grade .grade__img .grade__flex .grade__years {
    margin-right: 15px;
  }
  .grade .grade__img .grade__flex .grade__info p {
    font-size: 29px;
  }
  .partners .partners__grid {
    width: 93.4%;
  }
  .maecenas .maecenas__flex .maecenas__contacts {
    padding-top: 60px;
  }
  .about h1 {
    padding-top: 90px;
  }
  .productions h1 {
    padding-top: 90px;
  }
  .grade {
    padding-top: 90px;
  }
  .partners h1 {
    padding-top: 90px;
  }
  .maecenas h1 {
    padding-top: 90px;
  }
}
@media (max-width: 576px) {
  .about {
    text-align: center;
  }
  .about .about__flex {
    justify-content: space-around;
    flex-direction: column;
  }
  .about .about__flex .about__info {
    flex-basis: 0%;
    margin-bottom: 30px;
    padding-right: 0;
  }
  .about .about__flex .about__icons {
    padding-right: 0;
  }
  .about .about__flex .about__icons .icons__flex {
    flex-direction: row;
    text-align: left;
  }
  .about .about__flex .about__img {
    display: none;
  }
  .grade .grade__img {
    margin-top: 80px;
  }
  .maecenas .maecenas__flex .maecenas__contacts {
    padding-top: 50px;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms {
    flex-direction: column;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex {
    height: 100px;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex input {
    width: 100%;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex div {
    flex-grow: 1;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__small-form_flex .forms__small-form_flex-row-right {
    margin-left: 50px;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__big-form {
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
  }
  .maecenas .maecenas__flex .maecenas__add .maecenas__forms .forms__big-form input {
    width: 100%;
  }
  .about h1 {
    padding-top: 80px;
  }
  .productions h1 {
    padding-top: 80px;
  }
  .grade {
    padding-top: 80px;
  }
  .partners h1 {
    padding-top: 80px;
  }
  .maecenas h1 {
    padding-top: 80px;
  }
}/*# sourceMappingURL=index.css.map */