@import url(null.css);
@import url(header.css);
@import url(footer.css);
@import url(preloader.css);

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
// font-family: 'Open Sans', sans-serif;

@font-face {
    font-family: 'Open Sans Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Open Sans Condensed'), url("../source/fonts/OpenSans_Condensed-Bold.woff") format('woff');
}

body{
    overflow-x: hidden;

    font-family: 'Open Sans Condensed', sans-serif;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    background-color: rgb(51, 51, 51);
}

._content{
    max-width: 1171px;
    margin: 0 auto;
    padding: 0 30px;
}

.main{
    height: 100vh;
    
    background-image: url('../source/img/main_back.jpg');
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: cover;

    .main__flex{
        display: flex;
        padding-top: 267px;

        .main__info{
            max-width: 600px;

            h1{
                font-size: 48px;
                line-height: 65px;
                letter-spacing: 0.1em;
                text-transform: uppercase;

                margin-bottom: 50px;
            }

            .main__text{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;

                margin-bottom: 46px;
            }

            button{
                background-color: #D1A954;
                width: 160px;
                height: 50px;

                transition: 0.3s;
                border: solid #D1A954 2px;

                span{
                    font-size: 18px;
                    line-height: 25px;
                    letter-spacing: 0.1em;
                    text-transform: uppercase;
                    color: #FFFFFF;
                }
            }

            button:hover{
                transition: 0.3s;
                border-radius: 50px;
            }

            button:active{
                transition: 0.1s;
                border: solid #D1A954 2px;
                background-color: #333333;
            }
        }
    }
}

.side-bar{
    position: fixed;
    display: inline-block;
    
    width: 150px;
    height: 100vh;
    background: rgba(51, 51, 51, 0.75);

    text-align: center;

    .side-bar__flex{
        display: flex;
        flex-direction: column;
        justify-content: end;
        height: 100%;
        align-items: center;

        padding-bottom: 86px;

        .side-bar__text{
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #C4C4C4;

            h2{writing-mode: vertical-rl;}
            transform: rotate(-180deg);

            transition: 0.2s;
        }

        .side-bar__text:hover{
            transition: 0.2s;
            color:#D1A954
        }

        .side-bar__line{
            display: inline-block;
            height: 80px;
            border-left: 3px solid #C4C4C4;

            margin-top: 40px;
            padding-bottom: 10px;
        }

        .side-bar__social{
            display: flex;
            flex-direction: column;

            li{margin-top: 30px;}
        }
    }
}

.about{
    span{color: #D1A954;}

    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        padding-top: 150px;
        margin-bottom: 48px;
    }

    h3{
        font-size: 21px;
        line-height: 29px;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        margin-bottom: 40px;
    }

    .about__flex{
        display: flex;
        justify-content: space-between;
        //flex-wrap: wrap;

        .about__info{
            flex-basis: 445px;
            padding-right: 10px;

            p{
                font-family: 'Open Sans';
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
            }
        }

        .about__icons{
            padding-right: 10px;

            img{
                margin-bottom: 15px;
            }

            p{
                font-size: 16px;
                line-height: 22px;
                letter-spacing: 0.05em;
            }

            .about__icons-armchair-text1{margin-bottom: 28px;}

            .icons__flex{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        .about__img{
            flex-grow: 395px;

            img{height: 100%;}
        }
    }
}

.productions{
    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        padding-top: 150px;
        margin-bottom: 78px;

        span{color: #D1A954;}
    }

    .productions__swiper{
        margin-left: 165px;
    }
}

.grade{
    .grade__img{
        //width: 1111px;
        width: 100%;
        height: 611px;

        background-image: url('../source/img/grade_back.jpg');
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: 110%;

        margin-top: 90px;

        .grade__flex{
            display: flex;
            justify-content: center;
            align-items: center;

            height: 100%;

            .grade__years{
                font-size: 72px;
                line-height: 98px;
                letter-spacing: 0.1em;
                text-transform: uppercase;
                color: #D1A954;

                margin-right: 100px;
            }

            .grade__info{
                padding-right: 15px;

                .grade__stars{
                    padding-bottom: 25px;

                    img{padding-right: 25px;}
                }

                p{
                        font-family: 'Open Sans';
                        font-weight: 700;
                        font-size: 36px;
                        line-height: 150%;
                }
            }
        }
    }
}

.partners{
    padding-top: 150px;

    h1{
        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        span{color: #D1A954;}
    }

    .partners__grid{
        display: grid;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        justify-items: center;
        align-items: center;

        padding-top: 7px;

        overflow: hidden;
        width: 70%;

        img{padding: 130px 15px 0;}
    }
}

.maecenas{
    h1{
        padding-top: 125px;

        font-size: 64px;
        line-height: 87px;
        text-align: center;
        letter-spacing: 0.1em;
        text-transform: uppercase;

        span{color: #D1A954;}
    }

    .maecenas__flex{
        display: flex;
        justify-content: space-between;
        flex-basis: 35%;

        padding-top: 78px;

        .maecenas__contacts{
            .maecenas__contacts_flex{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
    
                p{
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0.05em;
                    text-transform: uppercase;
                }
    
                .maecenas__phones p{
                        margin-bottom: 25px;
                }
    
                .maecenas__adress{
                    .maecenas__contacts_site{
                        margin-bottom: 25px;
                        text-decoration: underline;
                    }
                }
            }
        }

        .maecenas__add{
            flex-basis: 65%;

            .maecenas__forms{
                display: flex;
                justify-content: space-between;

                input{
                    background: #444444;
                    border: 1px solid #616161;
                    padding-left: 15px;
                    
                    color: #989898;
                }

                input::placeholder{
                    font-family: 'Open Sans';
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 150%;

                    color: #989898;
                }

                .forms__small-form_flex{
                    display: flex;
                    justify-content: space-between;
                    flex-grow: 1;
                    
                    .forms__small-form_flex-row-left, .forms__small-form_flex-row-right{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                    }

                    .forms__small-form_flex-row-right{margin-left: 30px;}

                    input{
                        width: 180px;
                        height: 35px;
                    }
                }

                .forms__big-form{
                    margin-left: 30px;

                    input{
                        width: 310px;
                        height: 100px;
                    }
                }
            }

            .maecenas__underforms{
                display: flex;
                justify-content: space-between;

                padding-top: 40px;

                p{
                    max-width: 390px;

                    font-family: 'Open Sans';
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 150%;

                    color: #989898;
                }

                button{
                    background-color: #D1A954;
                    width: 160px;
                    height: 50px;
    
                    transition: 0.3s;
                    border: solid #D1A954 2px;
    
                    span{
                        font-size: 18px;
                        line-height: 25px;
                        letter-spacing: 0.1em;
                        text-transform: uppercase;
                        color: #FFFFFF;
                    }
                }
    
                button:hover{
                    transition: 0.3s;
                    border-radius: 50px;
                }
    
                button:active{
                    transition: 0.1s;
                    border: solid #D1A954 2px;
                    background-color: #333333;
                }
            }
        }
    }
}




@media  (max-width: 1500px){
    ._content{
        margin-left: 150px;
        padding-left: 10px;
        padding-right: 10px;
    }

    header{
        .header__flex{
            //margin-left: 150px;
            padding-left: 5px;
            padding-right: 5px;
        }
    }

    .main{
        .main__flex{
            //margin-left: 150px;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

@media  (max-width: 1260px){
    .about{
        .about__flex{
            justify-content: space-around;

            .about__icons{
                //flex-basis: 40%;
                padding-right: 0;
            }
            .about__img{display: none;}
        }
    }
}

@media  (max-width: 992px){
    .main{
        .main__flex{
            .main__info{
                max-width: 800px;
            }
        }
    }

    .about{
            h1{
                font-size: 48px;
                line-height: 65px;
            }
    }

    .grade{
        ._content{
            margin: 0;
            padding: 0;
        }

        .grade__img{
            margin-top: 150px;

            .grade__flex{
                margin-left: 165px;
            }
        }
    }

    .partners{
        h1{
            font-size: 48px;
            line-height: 65px;
        }
    }

    .maecenas{
        h1{
            font-size: 48px;
            line-height: 65px;
        }

        .maecenas__flex{
            flex-direction: column;
            padding-top: 100px;

            .maecenas__contacts{
                padding-top: 80px;
                order: 2;

                .maecenas__contacts_flex{
                    flex-direction: row;

                    .maecenas__adress{text-align: right;}
                }
            }
        }

        .maecenas__add{
            flex-basis: auto;
            max-width: 1171px;
            margin: 0 auto;
            padding: 0 30px 0 15px;

            .maecenas__forms{
                .forms__big-form{
                    input{width: 270px;}
                }
            }
        }
    }
}

@media  (max-width: 768px){
    ._content{
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }

    header{
        .header__flex{
            //margin-left: 0;
            padding-left: 30px;
            padding-right: 30px;
        }
    }

    .main{
        .main__flex{
            justify-content: center;

            //margin: 0 auto;
            padding-left: 30px;
            padding-right: 30px;

            .main__info{
                h1{
                    font-size: 36px;
                    line-height: 49px;
                    letter-spacing: 0.05em;

                    text-align: center;
                }
            }
        }
    }

    .side-bar{
        display: none;
    }

    .grade{
        .grade__img{
            margin-top: 90px;

            .grade__flex{
                margin-left: 0;

                .grade__years{margin-right: 15px;}

                .grade__info{
                    p{font-size: 29px;}
                }
            }
        }
    }

    .partners{
        .partners__grid{
            width: 93.4%;
        }
    }

    .maecenas{
        h1{
            font-size: 48px;
            line-height: 65px;
        }

        .maecenas__flex{
            .maecenas__contacts{padding-top: 60px;}
        }
    }
}

@media  (max-width: 576px){
    .about{
        text-align: center;

        .about__flex{
            justify-content: space-around;
            flex-direction: column;

            .about__info{
                flex-basis: 0%;
                margin-bottom: 30px;
                padding-right: 0;
            }

            .about__icons{
                padding-right: 0;

                .icons__flex{
                    flex-direction: row;
                    text-align: left;
                }
            }
            .about__img{display: none;}
        }
    }

    .grade{
        .grade__img{
            margin-top: 80px;
        }
    }

    .maecenas{
        .maecenas__flex{
            .maecenas__contacts{padding-top: 50px;}

            .maecenas__add{
                .maecenas__forms{
                    flex-direction: column;
    
                    .forms__small-form_flex{
                        height: 100px;
                        input{width: 100%;}

                        div{
                            flex-grow: 1
                        }

                        .forms__small-form_flex-row-right{margin-left: 50px;}
                    }
    
                    .forms__big-form{
                        width: 100%;
    
                        margin-left: 0;
                        padding-top: 30px;
    
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}